@import url(https://fonts.googleapis.com/css?family=Lato);
 ::-webkit-scrollbar-track{
     border: 1px solid black;
     background-color: rgba(0,0,0,.5);
}
 ::-webkit-scrollbar{
     width: 12px;
     cursor: url(https://i.imgur.com/xZ0AKJk.png), auto !important;
}
 ::-webkit-scrollbar-thumb{
     background-color: rgba(52, 121, 223, 0.8);
     border: 1px solid black;
     box-shadow: inset 0 0 6px 3px black;
}
 ::-webkit-scrollbar-thumb:hover{
     background-color: rgba(28, 83, 165, 0.8);
}

 #chatscrollbar, #myfrscrollbar, #myenscrollbar{
     border: 1px solid black;
     box-shadow: inset 0 0 6px 3px #0000009c;
     background-image: none;
     background-color: rgba(52, 121, 223, 0.8) !important;
}
 .checkbox-gd{
     height: 18px;
     background: url(https://i.imgur.com/MW3mqLb.png) no-repeat top left;
     padding: 4px 30px 0;
     margin-bottom: 4px;
     background-position-y: 0px;
}
 .checkbox-gd.active{
     background-position-y: -22px;
}
.changeClient{
    background-image: url(https://i.imgur.com/tFGSpRx.png);
    width: 93px;
    heigth: 29px;
    bottom: -5px;
}
 #quest-log-window {
     background-image: url(https://i.imgur.com/WonrKKw.png);
 }
.questlist p{
     color: #218421;
}
#tip.t_shair b{
    display: inline;
}
#skills_title .resetSkillPoints{
     top: 9px;	
}	
#corners img.border-d, #corners img.border-r, #corners img.border-l, #corners img.border-u {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}	
#corners img.border-d, #corners img.border-u {
    width: 799px;
    height: 7px;
    padding-left: 799px;
}
.table-header.hover-header, .table-header {
    background: url(https://i.imgur.com/oEiI4ik.png) !important;
    color: #add;
}
#corners img.border-r, #corners img.border-l {
    width: 6px;
    height: 537px;
    padding-left: 6px;
}
#corners img.border-u {
    background-image: url(https://i.imgur.com/yPrgTMo.png);
}
#corners img.border-d {
    background-image: url(https://i.imgur.com/aX1BJvE.png);
}
#corners img.border-l {
    background-image: url(https://i.imgur.com/agItJnn.png);
}
#corners img.border-r {
    background-image: url(https://i.imgur.com/Vkz2oY7.png);
}
#party img{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100px;
    height: 7px;
    padding-left: 100px;
    background-image: url(https://i.imgur.com/xKYzNnM.png);
}
#slotsForItems {
    margin-left: 4px;
    position: absolute;
    width: 45px;
    margin-top: 10px;
}
.otchlannew{
    display:none;
    position:absolute;
    left: 138px;
    top: 475px;
    width: 68px;
    height: 20px;
    background:url(https://i.imgur.com/t9wkgnb.png);
}
.shair-item-slot {
    width: 33px;
    height: 33px;
    display: inline-block;
    margin: 7px;
    position: relative;
    vertical-align: top;
    background:url(https://i.imgur.com/tkRhIKX.png);
    transition: box-shadow 250ms;	 
}
.shair-item-slot img{
	pointer-events: none;
}
.shair-item-slot small{
    opacity: 0.5;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    color:white;
    pointer-events: none;
}
html:before{
    content:"";
    display: none;
    background-image:url(https://i.imgur.com/9lPqzLx.jpg);
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width:100%;
    top:0;
    bottom:0; 
    left:0;
    right:0;
    position:fixed;
    z-index:-10;
}
 .tworcy-icon, .uninstall-icon{
     width: 119px;
     height: 23px;
     display: inline-block;
}
 .tworcy-icon:hover, .uninstall-icon:hover{
     background-position-y: -23px;
}
 .uninstall-icon{
     background: url(https://i.imgur.com/QWxNhgu.png);
}
 .tworcy-icon{
     background:url(https://i.imgur.com/6iIlcyW.png);
}
 .progressInfo, #_t1{
     font-family: Lato;
}
 .border-l{
     width: 7px;
     height: 100%;
}
 #chat.left {
     width: 270px;
}
 #right-icons {
     display: none;
     position: absolute;
     margin-top: -5px;
     padding-top: 5px;
     width: 48px;
     height: 538px;
     right: -37px;
     background: #05234791;
     border: 1px solid cornflowerblue;
     border-left: none;
     border-top-right-radius: 1em;
     border-bottom-right-radius: 1em;
}
 #right-icons a{
     width: 33px;
     height: 33px;
     margin: 7px;
     margin-left: 10px;
     display: block;
     background-position: center center;
     background-repeat: no-repeat;
}
 #tip, #tip.t_item, #tip.t_npc, #tip.t_other{
    background: #072849d1;
	border: 1px solid #1b7af4;
	border-color: #1b7af4;
	font: 11px Lato, sans-serif;
        border-radius: 10px;
	box-shadow: 0 0 30px black;
}
#rightStats .dmg{
    color: #bbb;
}
#rightStats .dmgp{
    color: lime;
}
#rightStats .dmgc{
    color: #9BF;
}
#rightStats .dmgo{
    color: #ec940f;
}
.dmgd{
    color: #bbb;
}
 #pk_list_container .list {
     color: #f7d20f;
}
 #pk_list_info{
     color: #b3900c;
}
 #pk_filter{
     color: gold;
     background: #ffd7002e;
     border: 1px solid gold;
}
 #pk_mini .el .loc {
     color: #b3900c;
}
 #pk_mini{
     border: 3px double black;
     border-top: 0px;
     background: #000000c4;
     color: #cb0604;
}
 #pk_list_container .list div.name span.ctrl{
     background: none;
     color: #61e014;
}
 #pk_list_container .list div.name span.ctrl.r{
     background: none;
     color: #d84747;
}
 #newlvl{
     background-image: url(https://i.imgur.com/5AyMG5y.gif);
     box-shadow: 0 0 5px 3px black;
}
 #autobattleButton, #surrenderBattleButton, #autobattleAllButton #tourbattleButton{
     background: #101a38;
     color: #349ed5;
     border: 1px outset #0d4395;
}
 #recipes .choose-item-type, #recipes .choose-prof, #premiumshop .sl_amount_ps, #shop_desc{
     color: #ffffff;
}
 #hmenu{
     border: 4px double black;
}
 #hmenu BUTTON:hover {
     background: #000000;
}
 #hmenu BUTTON {
     background: #151617d6;
     border-bottom: 1px double black;
     color: white;
     text-shadow: 0px 0px 8px #04507d, 0px 0px 8px #0580c9, 0px 0px 8px #0580c9;
}
 #pk_list {
     background-image: url(https://i.imgur.com/dkB4r9A.png);
     font: 12px "Lato", sans-serif;
     color: gold;
}
 #shop.outfit {
     background-image: url(https://i.imgur.com/UCHeirs.png);
}
 #premiumshop .buymore_ps, #premiumshop .closebutton_ps, #premiumshop, #premiumshop .premiumItem, #premiumshop .item_bg, #premiumshop .promocode_button{
     background-image: url(https://i.imgur.com/6bZKPhL.png);
}
 #alert div.mAlertInputContainer input[name="mAlertInput"], #alert div.mAlertInputContainer .bRight, #alert div.mAlertInputContainer .bLeft{
     background-image: url(https://i.imgur.com/NGsvy9a.png);
     color: #ffffff;
}
 .ab5{
     background-image: url(https://i.imgur.com/L88wb7A.png);
}
 .ab1{
     background-image: url(https://i.imgur.com/kft0gOi.png);
}
 #battletimer{
     font: 11px "Lato", sans-serif;
     color: gold;
}
 #battlepanelback, #battlehelp, #battleclose, #battle .border-b{
     background-image: url(https://i.imgur.com/5rmktCK.png) !important;
     background-color: transparent;
}
 #tradebg, #trade BUTTON{
     background-image: url(https://i.imgur.com/unUR87M.png);
     background-color: transparent;
}
#chests-window .chests-choice-wrapper .promo-chest{
     background: url(https://i.imgur.com/Sr7kmCP.png) -274px -615px;
}
.promo-chest .header-txt{
     background: -webkit-linear-gradient(#78d4ff, #64a9e7);
     -webkit-background-clip: text;
}
 #loots{
     border-image: url(https://i.imgur.com/JMAlmJ8.png) 41 32 17 49 fill round;
}
 #loots_l, #loots_r, #loots .loot, #loots B.yes, #loots B.no, #loots_counter, #loots_button, #loots B.need{
     background-image: url(https://i.imgur.com/Z2YSAIC.png) !important;
     background-color: transparent;
}
 #loot-preview{
     background-image: url(https://i.imgur.com/SVGucxb.png);
}
 #match-details-wnd .match-details-title{
     background-image: url(https://i.imgur.com/rUW5K63.png);
}
 #inbox .mailnick{
     background-image: url(https://i.imgur.com/PD6wxpr.png);
}
 #inbox .onemail .fraudInfo{
     color: #ff0000;
     background-color: transparent;
}
 #newmail TABLE TD{
     color: #ffffff;
}
 #inbox .mhead, hv, #inbox a, #inbox .mailnick.special{
     color: #39a2d9;
}
 .onemail hr {
     display: none;
}
 #inbox .onemail{
     border-top: 3px double #5b7019;
}
 #shop_close, #shop_accept, #match-details-wnd .close-match-details-wrapper .close-match-details{
     background-image: url(https://i.imgur.com/prQRWVa.png);
}
 #inbox .mhead, hv {
     border-bottom: none;
}
#pre-premium-header-txt{
     color: #b1cdf1e6;
}
 #mailmsg, #inbox INPUT, .mailitem{
     background-color: #10141C;
     font: 12px "Lato", sans-serif;
     color: #ffffff;
     border: 1px solid #0d6ca3;
     background: #10141C;
}
#pre-premium-panel .tiles-wrapper .pre-premium-panel-tile .header-txt{
     background: -webkit-linear-gradient(#ffffff, #fefefe);
     -webkit-background-clip: text !important;
}
#pre-premium-panel .tiles-wrapper .pre-premium-panel-tile{
     background: url(https://i.imgur.com/NLs9803.png) -273px -812px;
}
 #inbox, #inbox .onemail{
     background-image: url(https://i.imgur.com/uiISszI.png) !important;
     color: #ffffff;
}
 #inbox .newmsgout{
     background-image: url(https://i.imgur.com/uiISszI.png);
}
 #auctions .even TD{
     background-color: #10141C;
     font: 12px "Lato", sans-serif;
}
#auctions TD INPUT{
     background: #3d6aa3;
     color: #ffffff;
     border: 1px solid #086478;
}
.shairVersions div{
    width: 33px;
    height: 33px;
    display: inline-block;
    margin: 3px;
}
.shairVersions div.active {
    box-shadow: 0px 0px 8px 1px #5b7019;
}
 #mails{
     background-image: url(https://i.imgur.com/9IdoY55.png);
}
 #inbox BUTTON{
     background-image: url(https://i.imgur.com/alfabuy.png) !important;
}
 #auctions .ahitem, #ah_filter, #auctions .redback{
     background-color: #10141C;
     font: 12px "Lato", sans-serif;
     color: cadetblue;
     background: #10141C;
}
#auctions TD{
     border: 1px solid #0d7aae !important;
     background-color: #10141C;
     font: 12px "Lato", sans-serif;
     color: cadetblue;
     background: #10141C;
}
#auctions .sep{
     background: url(https://i.imgur.com/i36KSIB.png) no-repeat -238px -158px;
}
#ah_mylist H5{
     border: 1px solid #0d7aae;
}
#auctions TH{
     background-color: #10141C;
     font: 12px "Lato", sans-serif;
     color: cadetblue;
     background: #10141C;
     border: 1px solid #0d7aae;
     border-bottom: 3px double #0d7aae;
}
 #auctions .even TD{
     background-color: #10141C;
     font: 12px "Lato", sans-serif;
}
 #auctions TD.unique{
     color: gold;
     font: 12px "Lato", sans-serif;
}
#ah_filter INPUT, #ah_filter SELECT{
     background: #405f6842;
     border: 1px solid #154074;	
}
#au0{
     color: #12a7ba !important;
     border-bottom: 1px solid #608ec !important;
}
#_t23{
     color: #12a7ba !important;
}
 #auctions{
     background-image: url(https://i.imgur.com/4ICcSr4.png);
}
 #auctions button, #ahtitle, #ahselect, #ah_mylist H5, #ahselect B#b_myah, #auctions .itemcont, #auctions #ah_filter BUTTON{
     background-image: url(https://i.imgur.com/i36KSIB.png) !important;
}
 #loot-preview .close-but:hover{
     background-image: url(https://i.imgur.com/7YJihOA.png);
}
 #depo-sections .depoUpgrade, #depo-sections .depoUpgrade{
     background-color: #02395f;
     height: 22px;
     width: 18px;
     color: #ffffff;
     border: 1px solid #050505;
}
 #depo-sections .d-movebar{
     background-color: #2b4874;
     border: 1px solid #050505;
     color: #ffffff;
}
#depo-sections .d-section.active{
     background-color: #148fd7;
}
#depo-sections .d-section{
     background: #055c99;
     color: #ffffff;
     border: 1px solid #050505;
}
 #depo BUTTON{
     background-image: url(https://i.imgur.com/DIeLNyF.png);
}
 #depo, #depo-title{
     background-image: url(https://i.imgur.com/nVeyEf2.png);
     color: #5ebcf8;
}
#depo-gold INPUT{
     color: #ffffff;
}
.date{
     background-color: #002743 !important;
}
 #strength-increase, #dexternity-increase, #intelect-increase{
     color: #5b7019;
     font: 14px "Lato", sans-serif;
}
 #abpoints{
     color: gold;
     font: 13px "Lato", sans-serif;
}
 #abilitypoints{
     background-image: url(https://i.imgur.com/vaUp9Ge.png);
}
 #matchmaking-summary .header-text{
     color: #5b7019;
     left: 10px;
     top: 10px;
}
 .MM-dialog-average{
     color: gold;
     font: 12px "Lato", sans-serif;
}
 .MM-dialog-header-txt {
     background-position-y: -101px;
}
 .MM-tab-button.MM-tab-button-menu.active .content .gfont {
     text-shadow: 0px 1px 7px #000103;
}
 .MM-fight-header {
     width: 48px;
}
.gfont{
     color: #99bac4;
}
.SI-button .left{
    background:url(https://i.imgur.com/NLs9803.png);
    background-position: -443px -229px;
}
.SI-button .label{
    background:url(https://i.imgur.com/NLs9803.png);
    background-position: -463px -229px;
}
.SI-button .right{
    background:url(https://i.imgur.com/NLs9803.png);
    background-position: -622px -229px;	
}
#for-you-plug{
     background: url(https://i.imgur.com/NLs9803.png) -0px -942px;
}
.progress-wnd .left-side .tokens-amount-1 .green{
     color: #00c5d3;
}
.matchmaking-progress-stage .points-side .stage{
     color: #09aea9;
}
.season-wnd .winners-wrapper .header-info, .season-wnd .winners-wrapper .amount-players-got-outfit-info, .season-wnd .winners-wrapper .players-in-ranking-info span{
     color: #078bb7;
}
 .MM-paginator .inptxt {
     background: #10141C;
     color: #434343;
     border: none;
}
 .txt-info, .your-season-record, .your-career-record, .players-in-ranking-info, .season-reward-header, .season-winners-header, .matchmaking-progress-stage .points-side .ratio , .tokens-amount-1, .progress-wnd .left-side .char-prof, #match-details-txt .green{
     color: #bcd5dd !important;
}
#pre-premium-panel .tiles-wrapper .pre-premium-panel-tile .sl-cl, #pre-premium-panel .tiles-wrapper .pre-premium-panel-tile .shop-cl, #pre-premium-panel .tiles-wrapper .pre-premium-panel-tile .chest-cl, #pre-premium-panel .tiles-wrapper .pre-premium-panel-tile .for-you-cl, .promo-chest .img-wrapper .kuferek-czerwonego-smoka-iii, .promo-chest .img-wrapper .kuferek-czerwonego-smoka-iv, .promo-chest .img-wrapper .kuferek-czarnego-smoka-iii, .promo-chest .img-wrapper .kuferek-czarnego-smoka-iv{
   background-image: url(https://i.imgur.com/sTVCbRx.png);
}
 .MM-rank-header {
     width: 62px;
}
 .MM-stat-header {
     width: 50px;
}
 .MM-table-col {
     border: 1px solid #353e32;
}
 .MM-table-container{
     color: #2da9d3;
}
 .MM-dialog .gfont{
     color: #e9eef4;
}
 .MM-dialog .gfont:before{
     color: #adc6d3f7;
}
 .MM-dialog .gfont:after{
     color: #87c3f1;
}
 .progress-wnd .left-side .char-info{
     color: #1fa3db;
}
 .MM-dialog-header{
     background-image: url(https://i.imgur.com/gMHWy7E.png);
}
 .MM-button .content, .MM-button .left, .MM-button .right {
     background-image: url(https://i.imgur.com/NLs9803.png);
}
 .MM-dialog-header-txt, .MM-big-button-header{
     background-image: url(https://i.imgur.com/NLs9803.png);
}
 .MM-dialog{
     -moz-border-image: url(https://i.imgur.com/IMkmqNZ.png) 51 64 24 57 repeat;
     -webkit-border-image: url(https://i.imgur.com/IMkmqNZ.png) 51 64 24 57 repeat;
     -o-border-image: url(https://i.imgur.com/IMkmqNZ.png) 51 64 24 57 repeat;
     border-image: url(https://i.imgur.com/IMkmqNZ.png) 51 64 24 57 fill repeat;
}
 #gold_shop_banner, #sl_shop_banner{
     background-image: url(http://wgrajo.pl/img/baneryshop.png);
}
 #shop{
     background-image: url(https://i.imgur.com/oxUDMUH.png);
}
 #dialog{
     background-image: url(https://i.imgur.com/4ICcSr4.png);
}
 #party{
     background-image: url(https://i.imgur.com/9h5LOB6.png);
}
 .party_member, #party B{
     font: 12px "Lato", sans-serif;
     color: #ffffff;
}
 #party>p>div:last-of-type{
     color: white !important;
}
 #party B.pcen{
     font: 12px "Lato", sans-serif;
     color: #ffd700;
     font-weight: 1000;
}
 #console{
     background: rgba(0,0,0,.8);
}
 #conin{
     background: rgba(0,0,0,.9);
}
 DIV.frparty, .chatfr, .delfr, #enadd, #fradd, #frsort, .delen, .frup, .frdn{
     background-color: transparent;
     background-image: url(https://i.imgur.com/GygfNHw.png);
}
 #match-details-wnd{
     background-image: url(https://i.imgur.com/S3SpFHN.png);
}
 .MM-big-button.MM-stat-button, .MM-big-button.MM-fight-button, .MM-big-button.MM-rank-button, .MM-queue-button, .MM-big-button MM-eq-button, .MM-eq-button, .MM-eq-button.selected{
     background-image: url(https://i.imgur.com/NLs9803.png);
}
 #pre-premium-panel, #chests-window, #matchmaking-summary{
     background-image: url(https://i.imgur.com/NLs9803.png);
}
 .extraStat-group-title{
     font: 14px "Lato", sans-serif;
     color: #c5a470;
     border-bottom: 1px solid #927f7f;
}
 .extraStat-group{
     margin-left: 12px;
     color: #dcf5ffc2;
     padding: 5px 0px;
     font: 12px "Lato", sans-serif;
}
 .extraStat-row{
     padding: 1px 3px;
     display: block;
     clear: both;
     font: 12px "Lato", sans-serif;
     width: 140px;
}
 .extraStat-value{
     float: right;
     font: 12px "Lato", sans-serif;
}
 .extraStat-row:hover{
     background: rgba(0, 0, 0, 0.3);
}
 .extraStat-special-odpornosci{
     font: 12px "Lato", sans-serif;
}
 .extraStat-special-odpornosci .extraStat-name {
     margin-left: 10px;
}
 [data-percent]:after{
     content: "%";
}
 [data-plus]:before{
     content: "+";
}
 #rightStats{
     font: 10px Arial, Verdana;
     color: #dcf5fff7;
     text-align: right;
     position: absolute;
     top: 126px;
     left: 152px;
     width: 100px;
     height: 40px;
     line-height: 14px;
}
 .rightStatBut{
     background-image: url(https://i.imgur.com/hl7ZyVv.png);
     position:absolute;
     z-index:300;
     left: 144px;
     top: 177px;
     width: 115px;
     height: 21px;
}
 #mystats{
     overflow-y: scroll;
     padding-right: 20px;
     top:0px;
     right:86px;
     position:absolute;
     z-index:299;
     width:180px;
     height:512px;
     background: -webkit-linear-gradient(to right, #000000e0, #0e254f);
     background: -moz-linear-gradient(to right, #000000e0,#0e254f);
     background: -ms-linear-gradient(to right, #000000e0, #0e254f);
     background: -o-linear-gradient(to right, #000000e0, #0e254f);
     background: linear-gradient(to right, #000000e0, #0e254f);
     -webkit-transition: all 700ms cubic-bezier(0.52, -0.46, 0.48, 1.56);
     -moz-transition: all 700ms cubic-bezier(0.52, -0.46, 0.48, 1.56);
     -ms-transition: all 700ms cubic-bezier(0.52, -0.46, 0.48, 1.56);
     -o-transition: all 700ms cubic-bezier(0.52, -0.46, 0.48, 1.56);
     transition: all 700ms cubic-bezier(0.52, -0.46, 0.48, 1.56);
     -webkit-box-shadow: -3px 0px 5px 1px rgba(0, 0, 0, 0.6);
     box-shadow: -3px 0px 5px 1px rgba(0, 0, 0, 0.6);
}
 #mystats.active{
     right: 253px;
}
 [data-update="credits"]{
     position:absolute;
     z-index:351;
     top:45px;
     right:50px;
     width: 30px;
     height: 11px;
     font: 11px Arial, Verdana;
     color: #ffd700;
     text-align: right;
}
 .expAnimation{
     position: absolute;
     width: 8px;
     height: 8px;
     border-radius: 100%;
     background:url(https://i.imgur.com/fdpSxBM.png);
     z-index: 400;
     -webkit-transition: all 1000ms ease-in-out;
     -moz-transition: all 1000ms ease-in-out;
     -ms-transition: all 1000ms ease-in-out;
     -o-transition: all 1000ms ease-in-out;
     transition: all 1000ms ease-in-out;
     pointer-events: none;
}
 @-webkit-keyframes flash{
     0% {
         box-shadow: inset 0 0 5px 6px #484608b8;
    }
     25% {
         box-shadow: inset 0 0 5px 6px #5f5c08b8;
    }
     50% {
         box-shadow: inset 0 0 5px 6px #444209b8;
    }
     75% {
         box-shadow: inset 0 0 5px 6px #252408b8;
    }
     100% {
         box-shadow: inset 0 0 5px 6px #3c3b17b8;
    }
}
 @keyframes flash{
     0% {
         box-shadow: inset 0 0 5px 6px #484608b8;
    }
     25% {
         box-shadow: inset 0 0 5px 6px #5f5c08b8;
    }
     50% {
         box-shadow: inset 0 0 5px 6px #444209b8;
    }
     75% {
         box-shadow: inset 0 0 5px 6px #252408b8;
    }
     100% {
         box-shadow: inset 0 0 5px 6px #3c3b17b8;
    }
}
 .sepia {
     border: 1px solid gold;
     border-radius: 5px;
     display: inline-table;
     margin: 2px;
     box-shadow: inset 0 0 5px 6px #484608b8;
     -webkit-animation: 2s flash infinite alternate;
     animation: 2s flash infinite alternate;
}
 .sepia img {
     -webkit-filter: sepia(1) brightness(102%) contrast(150%);
     filter: sepia(1) brightness(102%) contrast(150%);
}
 #buttons{
     left:145px;
     top:205px;
}
 #buttons DIV{
     background-image:url(https://i.imgur.com/VEko4qy.png) !important;
}
 DIV#b_news{
     left:234px;
     top:5px;
     background-image:url(https://i.imgur.com/7vTs0z5.png) !important;
}
 DIV#b_addons{
     left:237px;
     top:230px;
     background-image:url(https://i.imgur.com/VEko4qy.png);
}
 DIV#bchat{
     background-image:url(https://i.imgur.com/VEko4qy.png);
     left:2px;
     top:520px;
}
 #premiumbut{
     left:541px;
     top:515px;
     background-image:url(https://i.imgur.com/adx2kxW.png);
     background-position: 0 0!important;
}
 #logoutbut{
     left:693px;
     top:515px;
     background-image:url(https://i.imgur.com/4CRsl2r.png);
     background-position: 0 0!important;
}
 .MM-battleset-switch{
     top:90px;
}
 .MM-battleset-switch-button {
     background-image:url(https://i.imgur.com/4sIOv3N.png);
}
 .a1{
     background-image: url(https://i.imgur.com/EdosVo6.png) !important;
}
 .a3 {
     background-image: url(https://i.imgur.com/EdosVo6.png) !important;
}
 .a3 *{
     background-image: url(https://i.imgur.com/EdosVo6.png) !important;
}
 #MM-in-queue-icon {
     top: -2px;
     right: 270px;
}
 #bm_advent{
     background-image: url(http://i.imgur.com/h7wqROw.png);
     top:214px;
     left:84px;
}
#new_event_calendar{
     display: none !important;
}	
/* CSS ZMIANA GRAFIK(POZOSTA?E) */
 #recipes {
     background-image: url(https://i.imgur.com/THQC2MA.png);
}
 #addonspanel{
     background-image: url(https://i.imgur.com/RKhS2as.png);
}
 DIV#pvpmode, #pvpmode{
     background-image: url(https://i.imgur.com/ur4NzER.png);
     top:518px;
     left:475px;
     z-index:301;
	 width: 17px;
     height: 17px;
	 background-position: 0px -57px;
}
 #clanmenu{
     background-image: url(https://i.imgur.com/ZFD9pYY.png);
}
 #mappanel{
     background-image: url(https://i.imgur.com/Anfacfk.png);
}
 #friends{
     background-image: url(https://i.imgur.com/5o5WgYd.png);
}
 #config{
     background-image: url(https://i.imgur.com/XbFFwLr.png) !important;
     background-repeat: repeat;
}
 #config center:last-child {
     background-image: url(https://i.imgur.com/S3SpFHN.png) !important;
     background-position: bottom;
}
 #panel{
     background-image: url(https://i.imgur.com/nApVhlt.png);
}
 .conf-title{
     background-image: url(https://i.imgur.com/MKSadIS.png) !important;
}
 #skills, #skills_title{
     background-image: url(https://i.imgur.com/7AyXGs3.png);
}
 .skills_tab_header{
     background-image: url(https://i.imgur.com/0II47pO.png);
}
 #inpchat{
     background-image:url(https://i.imgur.com/yjxN9IN.png);
}
 .item SMALL{
     font-size:12px;
}
 .questlist p{
     background-image: url(https://i.imgur.com/oGr6Dvo.png);
     font: 15px "Lato", sans-serif;
     font-weight: 700;
}
 #clanbox .members TH{
     background-image: url(https://i.imgur.com/oEiI4ik.png);
}
 #bottombar{
     background-image: url(https://i.imgur.com/2KifkHO.png);
}
 #dlgwin .w2{
     background-image: url(https://i.imgur.com/3nadyfb.png) !important;
}
 .w2{
     color: #56709b;
     background-image: url(https://i.imgur.com/3nadyfb.png) !important;
}
 #alert, #dlgwin, #staminashop, .MM-alert{
     background-image: url(https://i.imgur.com/yxFdogH.png) !important;
}
 #alert .a1, #alert .a3, #alert button, #dlgwin .w1, #staminashop .a1, #staminashop .a3{
     background-image: url(https://i.imgur.com/a5xURjr.png) !important;
}
 #chat, #chattabs, #chattabs s{
     background-image:url(https://i.imgur.com/V2PzHGD.png);
}
 #chat.left, #chattabs.left, #chat.left #chattabs s{
     background-image: url(https://i.imgur.com/zigz0Vl.png);
}
 #cfg_options DIV{
     color: #7d8289;
     font: 13px "Lato", sans-serif;
}
.my-checkbox, .my-checkbox.active{
     color: #5B7019;
     font: 13px "Lato", sans-serif;
     background-image: url(https://i.imgur.com/lzJSNWb.png);
}
 #pre-premium-panel .close-pre-premium, #recipes .close-but, #chests-window .close-chests-window, #loot-preview .close-but{
     background-image: url(https://i.imgur.com/0BgjfLB.png);
}
 .closebut, .close-but{
     background-image: url(https://i.imgur.com/0BgjfLB.png);
     margin: 4px;
}
 #config .save{
     background-image: url(https://i.imgur.com/levFfUL.png);
}
 #config .cancel{
     background-image: url(https://i.imgur.com/KJBnFwN.png);
}
#maplist B{
     color: #ffffff;
}
 #clanbox, #inmap, #inmap2wrapper, #addons{
     background-image: url(https://i.imgur.com/4ICcSr4.png);
}
 #lagmeter{
     background-image:url(https://i.imgur.com/iMkjOXy.png);
}
 .skillbox{
     background-image:url(https://i.imgur.com/KwNWGmT.png);
}
/* CSS ZMIANY PO?O?ENIA, STYLI ETC. */
 .q_kill{
     font: 13px "Lato", sans-serif;
     color: #d1d1d1;
}
 .q_doit{
     color: #10c4a6b5;
     font: 13px "Lato", sans-serif;
}
 #inpchat, #bottxt{
     left:65px;
     top:9px;
}
 #exp2.noexp{
     background-image: url(https://i.imgur.com/IbBwTI3.png) !important;
}
 #exp1, #life1{
     font-size: 10px;
     text-align: center;
     color: transparent;
     font-weight: bold;
}
 #exp1,#exp2{
     top:102px;
     left:663px;
}
 #life2, #exp2{
     border-bottom-right-radius: 100%;
     border-top-left-radius: 100%;
}
 #exp2{
     background-image:url(https://i.imgur.com/KMrHjMn.png) !important;
}
 #life1,#life2{
     top:91px;
     left:663px;
}
 #life2{
     background-image:url(https://i.imgur.com/ERM2hdU.png) !important;
}
 #bagc{
     left:24px;
     top:261px;
}
 #gold{
     top:45px;
     left:520px;
     font: 11px Arial;
}
 .treasury > div:first-of-type{
     background-color: #081f4d00 !important;
}
 #clanbox BUTTON{
     font: 10px "Lato", sans-serif;
     color: #70a3b8;
}
 #clanbox{
     font: 11px "Lato", sans-serif;
     color: #70a3b8;
}
 #clanbox span.nick{
     font: 13px "Lato", sans-serif;
     color: #70a3b8;
}
 .clan TD{
     font: 14px "Lato", sans-serif;
     color: #70a3b8;
}
 #botloc{
     top:519px;
     left:427px;
}
 #skillSwitch{
     top:112px;
     left:92px;
     background-image: url(https://i.imgur.com/MSxomTs.png) !important;
}
 #nick{
     color: white;
     text-shadow: 0px 0px 8px cyan, 0px 0px 8px darkblue, 0px 0px 8px blue;
     font-family:"Lato",sans-serif;
}
 .a2 {
     color: #7d8289;
     font: 14px "Lato", sans-serif;
}
 #skillcount {
     color: #ffffff;
     font: 16px "Lato", sans-serif;
     top: 9px;
     left: 310px;
}
 .skills_tab_text {
     color: #a0c0fc;
     font: 12px "Lato", sans-serif;
}
 .skillbox_lvl{
     color: #ffffff;
     font: 10px "Lato", sans-serif;
}
 #clanbox .clanlist B{
     color: #a1d4e9;
     font: 14px "Lato", sans-serif;
     font-weight: 700;
}
 .avatar{
     display:none;
     position:absolute;
     top:-2px;
     left:16px;
     width:32px;
     height:32px;
     z-index:350;
     opacity: 0.8;
}
 #surrenderBattleButton{
     left: 15px !important;
}
 #chattxt{
     font-family:"Lato",sans-serif;
}
 .tipInnerContainer{
     font-family:"Lato",sans-serif;
}
 #battle{
     font-family:"Lato",sans-serif;
}
 #buttons DIV:hover, #logoutbut:hover, #premiumbut:hover, .hightlight:hover{
     filter: brightness(150%);
     -webkit-filter: brightness(150%);
}
 textarea#battle_for_forum{
     background-color: #10141C;
     color: #5B7019;
     border-color: rgb(16, 20, 28);
}
 #addonDetails{
     background-color: #13171F;
}
 #addons h1{
     color: #70a3b8;
     font: 20px "Lato", sans-serif;
     font-weight: 700;
}
 #addons *, .search, #recipes .start-lvl, #recipes .stop-lvl{
     color: #a1d4e9;
     font: 14px "Lato", sans-serif;
}
 #recipes .recipe-header{
     border-bottom: 0px;
}
#tip-o1, #tip-o2, DIV#b_matchmaking, #dlgtitle, #tutorial,#leorn1,#leorn2,#b_help,#stats,#base3,.lt-hor,.lt-ver,.ld-hor,.ld-ver,.rt-hor,.rt-ver,.rd-hor,.rd-ver, #b_config{
     display:none !important;
}
 * {
     cursor: url(https://i.imgur.com/ziuWzSg.png), auto;
}
.shairVersions div.active, .shairVersions div, .bal_cancel, #myfrscrollbar, #myenscrollbar, .otchlannew, .dodatkionpub, .dodatkion, .tworcy-icon, #loot-preview .close-but, .MM-queue-button, .uninstall-icon, .checkbox-gd, .header-wrapper .close-button, .header .close-button, #addons .description *, .menu_element, .bal_yes, .bal_no, .MM-button *, .close-chests-window, .skillbox_icon, .skillbox_icon_holder, .skillbox, #a_ok.bal_ok, #chatscrollbar, #pre-premium-panel .tiles-wrapper .pre-premium-panel-tile, .close-pre-premium, .graph.sl-cl, .header-txt, .graph,shop-cl, .graph.chest-cl, .graph.for-you-cl, .MM-stat-button, .MM-fight-button, .MM-rank-button, .MM-stat-header, .MM-fight-header, .MM-rank-header, .closebut, .ustawienia, #chattxt .chnick, #chattxt U, #chat, #chattabs, #chattabs s, #chat.left, #chattabs.left, .rightStatBut, .MM-battleset-switch-button, #cfg_options > div, [onclick], [href], [onclick] > *{
     cursor: url(https://i.imgur.com/xZ0AKJk.png), auto !important;
}
 .ustawienia{
     position:absolute;
     z-index:300;
     left:617px;
     top:515px;
     width: 68px;
     height: 20px;
     background:url(https://i.imgur.com/51Co85r.png);
}
 .dodatkion{
     position:absolute;
     left:364px;
     top:-1px;
     width: 33px;
     height: 33px;
     background:url(https://i.imgur.com/71ykw3H.png);
}
 .dodatkionpub{
     position:absolute;
     left:364px;
     top:-1px;
     width: 33px;
     height: 33px;
     background:url(https://i.imgur.com/71ykw3H.png);
}
 .npc.cursor-npc{
     cursor: url(https://i.imgur.com/l1Iq1Uq.png), auto !important;
}
 .npc.cursor-attack{
     cursor: url(https://i.imgur.com/xF0AbnU.png), auto !important;
}
 .troop[ctip="t_troop2"]{
     cursor: url(https://i.imgur.com/xF0AbnU.png), auto !important;
}
 #b_pvp{
     top: 205px;
     left: 236px;
     height: 22px;
     background: url(https://i.imgur.com/QAZoZrt.png);
     background-position-y: 0px !important;
     background-position-x: 22px !important;
}
 #b_pvp:hover{
     background-position-y: 22px !important;
}
 #b_pvp.active{
     background-position-x: 0px !important;
}
#right-icons a[data-icon="0"]{
    background-image: url(https://i.imgur.com/7lowevI.png);
}
#right-icons a[data-icon="1"]{
    background-image: url(https://i.imgur.com/uSZkZcs.png);
}
#right-icons a[data-icon="2"]{
    background-image: url(https://i.imgur.com/n3xuYAe.png);
}
#right-icons a[data-icon="3"]{
    background-image: url(https://i.imgur.com/8zcwr5u.png);
}
#right-icons a[data-icon="4"]{
    background-image: url(https://i.imgur.com/EehcqS0.png);
}
#right-icons a[data-icon="5"]{
    background-image: url(https://i.imgur.com/d2TNuW4.png);
}
#right-icons a[data-icon="6"]{
    background-image: url(https://i.imgur.com/NAaaiuB.png);
}
#right-icons a[data-icon="7"]{
    background-image: url(https://i.imgur.com/FsYcfVj.png);
    border-radius: 0px 8px 0px 8px;
    box-shadow: 0px 0px 3px 2px #00baf1;
}
